<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
	<testsuites>
        <testsuite name="MyModel Test Suite">
            <file>./tests/MY_Model_test.php</file>
        </testsuite>
    </testsuites>
</phpunit>